/*@font-face {
  font-family: 'Your Font';
  src: url(asset_path('Your Font.eot'));
  src: url(asset_path('Your Font.eot')) format('embedded-opentype'),
       url(asset_path('Your Font.woff2')) format('woff2'),
       url(asset_path('Your Font.woff')) format('woff'),
       url(asset_path('Your Font.ttf')) format('truetype'),
       url(asset_path('Your Font.svg')) format('svg');
  font-weight: normal;
  font-style: normal;
}

.call-background-image {
	background-image: asset_url("life.jpg");
}*/